<a href="https://colab.research.google.com/github/enesergen/TenserflowBeginner/blob/main/TenserflowBeginner.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install -q sklearn

  Preparing metadata (setup.py) ... done
  Building wheel for sklearn (setup.py) ... done

In [2]:
%tensorflow_version 2.x #bu satır notebook için gerekli local cihazlarda gerekli değil

Colab only includes TensorFlow 2.x; %tensorflow_version has no effect.

In [3]:
from __future__ import absolute_import,division,print_function,unicode_literals

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython.display import clear_output #yanlızca notebook için
from six.moves import urllib

In [4]:
import tensorflow as tf
import tensorflow.compat.v2.feature_column as fc #lineer regression algoritması ve modeli için kullanılacak

In [5]:
dftest=pd.read_csv("https://raw.githubusercontent.com/enesergen/TenserflowBeginner/main/test.csv")
dftrain=pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")
y_train=dftrain.pop("Survived")# burada y_train survived kolonu verilerini aldı ve dftrain de kendini o kolonu silerek güncelledi
dftrain.pop("Name")
dftrain.pop("Ticket")
dftrain.pop("PassengerId")
dftest.pop("Name")
dftest.pop("Ticket")
dftest.pop("PassengerId")

0       892
1       893
2       894
3       895
4       896
       ...
413    1305
414    1306
415    1307
416    1308
417    1309
Name: PassengerId, Length: 418, dtype: int64

In [6]:
CATEGORICAL_COLUMNS=["Sex","Cabin","Embarked"]
NUMERICAL_COLUMNS=["Pclass","Age","SibSp","Parch","Fare",]

feature_columns=[]
for feature_name in CATEGORICAL_COLUMNS:
  vocabulary=dftrain[feature_name].unique()
  print(vocabulary)

['male' 'female']
[nan 'C85' 'C123' 'E46' 'G6' 'C103' 'D56' 'A6' 'C23 C25 C27' 'B78' 'D33'
 'B30' 'C52' 'B28' 'C83' 'F33' 'F G73' 'E31' 'A5' 'D10 D12' 'D26' 'C110'
 'B58 B60' 'E101' 'F E69' 'D47' 'B86' 'F2' 'C2' 'E33' 'B19' 'A7' 'C49'
 'F4' 'A32' 'B4' 'B80' 'A31' 'D36' 'D15' 'C93' 'C78' 'D35' 'C87' 'B77'
 'E67' 'B94' 'C125' 'C99' 'C118' 'D7' 'A19' 'B49' 'D' 'C22 C26' 'C106'
 'C65' 'E36' 'C54' 'B57 B59 B63 B66' 'C7' 'E34' 'C32' 'B18' 'C124' 'C91'
 'E40' 'T' 'C128' 'D37' 'B35' 'E50' 'C82' 'B96 B98' 'E10' 'E44' 'A34'
 'C104' 'C111' 'C92' 'E38' 'D21' 'E12' 'E63' 'A14' 'B37' 'C30' 'D20' 'B79'
 'E25' 'D46' 'B73' 'C95' 'B38' 'B39' 'B22' 'C86' 'C70' 'A16' 'C101' 'C68'
 'A10' 'E68' 'B41' 'A20' 'D19' 'D50' 'D9' 'A23' 'B50' 'A26' 'D48' 'E58'
 'C126' 'B71' 'B51 B53 B55' 'D49' 'B5' 'B20' 'F G63' 'C62 C64' 'E24' 'C90'
 'C45' 'E8' 'B101' 'D45' 'C46' 'D30' 'E121' 'D11' 'E77' 'F38' 'B3' 'D6'
 'B82 B84' 'D17' 'A36' 'B102' 'B69' 'E49' 'C47' 'D28' 'E17' 'A24' 'C50'
 'B42' 'C148']
['S' 'C' 'Q' nan]